<div class="text-slate-50 ">
    <h1 class="text-center font-bold text-4xl mb-6 w-full">Mes Projet</h1>

    <!--Projet container -->
    <div class="flex gap-5 ">
        <!--Column 1-->
       
     
        <!--Column 2-->
        <div class=" flex msc:flex-col flex-wrap gap-5 justify-center">
            <!--Projet-->
            <div class="relative w-[350px] msc:w-[250px] h-[250px] bg-red-300 rounded-3xl hover:z-10 hover:scale-[1.1] transition-all " >
                <div class="w-full h-full">
                    <img class="w-full h-full rounded-3xl" src="../../assets/image/footer.png" alt="">
                </div> 
            <div class="absolute bottom-0 w-full h-12 rounded-b-3xl bg-slate-100 opacity-[.3] text-3xl text-black font-bold text-center"> PortFolio</div>
            </div>
            <!--Projet-->
            <div class="relative w-[350px] msc:w-[250px] h-[250px] bg-red-400 rounded-3xl hover:z-10 hover:scale-[1.1] transition-all ">
                
                <div class="w-full h-full">
                    <img class="w-full h-full rounded-3xl" src="../../assets/image/hanif.png" alt="">
                </div>
                <div class="absolute bottom-0 w-full h-12 rounded-b-3xl bg-slate-100 opacity-[.3] text-3xl text-black font-bold text-center"> PortFolio</div>
            </div>
        <!-- Projet -->
            <div class="relative  w-[350px] msc:w-[250px] h-[250px] bg-gray-400 scale-[.9] hover:scale-[1] hover:z-20 transition-all rounded-3xl">
                
                <div class="w-full h-full">
                    <img class="w-full h-full rounded-3xl" src="../../assets/image/avtare.png" alt="">
                </div>
                <div class="absolute bottom-0 w-full h-12 rounded-b-3xl bg-slate-100 opacity-[.3] text-3xl text-black font-bold text-center"> PortFolio</div>
            
            </div>
        </div>
        <!--Column3-->
       
        
    </div>
</div>
