
<div class="flex flex-wrap p-5 text-slate-50 list-none gap-8 justify-center">
 <!-- Projet -->
 <div class="w-[500px] screen:w-[300px] rounded-xl bg-blue-950/30 ">
  <!-- imaga -->
   <div>
    <img src="../../assets/image/por.jpg" alt="" class="w-full rounded-xl h-[250px]  object-cover object-left"> 
   </div>
   <!-- titre et description -->
   <div class="p-2">
      <h1 class="text-xl pb-2 pt-4">Téléchargement des video Youtube</h1>
      <p class="">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Maxime temporibus eveniet quos nisi, iusto laudantium!</p>
   </div>

   <!-- tectno  -->
    <div class="p-2 flex gap-3">
        <li class="bg-blue-500/30 p-2 rounded-2xl ">Python</li>
        <li class="bg-blue-500/30 p-2 rounded-2xl ">TypeScript</li>
        <li class="bg-blue-500/30 p-2 rounded-2xl ">Tailwind</li>
        <li class="bg-blue-500/30 p-2 rounded-2xl ">Angular</li>
    </div>
    <!-- lien demo -->
    <div class="p-2 flex gap-4">
      <button class="pl-0 p-4">Git</button>
      <button class="p-2">Demo</button>
    </div>
</div>
<!-- Projet -->
<div class="w-[500px] rounded-xl bg-blue-950/30 ">
  <!-- imaga -->
   <div>
    <img src="../../assets/image/por.jpg" alt="" class="w-full rounded-xl h-[250px]  object-cover object-left"> 
   </div>
   <!-- titre et description -->
   <div class="p-2">
      <h1 class="text-xl pb-2 pt-4">Téléchargement des video Youtube</h1>
      <p class="">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Maxime temporibus eveniet quos nisi, iusto laudantium!</p>
   </div>

   <!-- tectno  -->
    <div class="p-2 flex gap-3">
        <li class="bg-blue-500/30 p-2 rounded-2xl ">Python</li>
        <li class="bg-blue-500/30 p-2 rounded-2xl ">TypeScript</li>
        <li class="bg-blue-500/30 p-2 rounded-2xl ">Tailwind</li>
        <li class="bg-blue-500/30 p-2 rounded-2xl ">Angular</li>
    </div>
    <!-- lien demo -->
    <div class="p-2 flex gap-4">
      <button class="pl-0 p-4">Git</button>
      <button class="p-2">Demo</button>
    </div>
</div>
<!-- Projet -->
<div class="w-[500px] rounded-xl bg-blue-950/30 ">
  <!-- imaga -->
   <div>
    <img src="../../assets/image/por.jpg" alt="" class="w-full rounded-xl h-[250px]  object-cover object-left"> 
   </div>
   <!-- titre et description -->
   <div class="p-2">
      <h1 class="text-xl pb-2 pt-4">Téléchargement des video Youtube</h1>
      <p class="">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Maxime temporibus eveniet quos nisi, iusto laudantium!</p>
   </div>

   <!-- tectno  -->
    <div class="p-2 flex gap-3">
        <li class="bg-blue-500/30 p-2 rounded-2xl ">Python</li>
        <li class="bg-blue-500/30 p-2 rounded-2xl ">TypeScript</li>
        <li class="bg-blue-500/30 p-2 rounded-2xl ">Tailwind</li>
        <li class="bg-blue-500/30 p-2 rounded-2xl ">Angular</li>
    </div>
    <!-- lien demo -->
    <div class="p-2 flex gap-4">
      <button class="pl-0 p-4">Git</button>
      <button class="p-2">Demo</button>
    </div>
</div>
<!-- Projet -->
<div class="w-[500px] rounded-xl bg-blue-950/30 ">
  <!-- imaga -->
   <div>
    <img src="../../assets/image/por.jpg" alt="" class="w-full rounded-xl h-[250px]  object-cover object-left"> 
   </div>
   <!-- titre et description -->
   <div class="p-2">
      <h1 class="text-xl pb-2 pt-4">Téléchargement des video Youtube</h1>
      <p class="">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Maxime temporibus eveniet quos nisi, iusto laudantium!</p>
   </div>

   <!-- tectno  -->
    <div class="p-2 flex gap-3">
        <li class="bg-blue-500/30 p-2 rounded-2xl ">Python</li>
        <li class="bg-blue-500/30 p-2 rounded-2xl ">TypeScript</li>
        <li class="bg-blue-500/30 p-2 rounded-2xl ">Tailwind</li>
        <li class="bg-blue-500/30 p-2 rounded-2xl ">Angular</li>
    </div>
    <!-- lien demo -->
    <div class="p-2 flex gap-4">
      <button class="pl-0 p-4">Git</button>
      <button class="p-2">Demo</button>
    </div>
</div>
<!-- Projet -->
<div class="w-[500px] rounded-xl bg-blue-950/30 ">
  <!-- imaga -->
   <div>
    <img src="../../assets/image/por.jpg" alt="" class="w-full rounded-xl h-[250px]  object-cover object-left"> 
   </div>
   <!-- titre et description -->
   <div class="p-2">
      <h1 class="text-xl pb-2 pt-4">Téléchargement des video Youtube</h1>
      <p class="">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Maxime temporibus eveniet quos nisi, iusto laudantium!</p>
   </div>

   <!-- tectno  -->
    <div class="p-2 flex gap-3">
        <li class="bg-blue-500/30 p-2 rounded-2xl ">Python</li>
        <li class="bg-blue-500/30 p-2 rounded-2xl ">TypeScript</li>
        <li class="bg-blue-500/30 p-2 rounded-2xl ">Tailwind</li>
        <li class="bg-blue-500/30 p-2 rounded-2xl ">Angular</li>
    </div>
    <!-- lien demo -->
    <div class="p-2 flex gap-4">
      <button class="pl-0 p-4">Git</button>
      <button class="p-2">Demo</button>
    </div>
</div>
<!-- Projet -->
<div class="w-[500px] rounded-xl bg-blue-950/30 ">
  <!-- imaga -->
   <div>
    <img src="../../assets/image/por.jpg" alt="" class="w-full rounded-xl h-[250px]  object-cover object-left"> 
   </div>
   <!-- titre et description -->
   <div class="p-2">
      <h1 class="text-xl pb-2 pt-4">Téléchargement des video Youtube</h1>
      <p class="">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Maxime temporibus eveniet quos nisi, iusto laudantium!</p>
   </div>

   <!-- tectno  -->
    <div class="p-2 flex gap-3">
        <li class="bg-blue-500/30 p-2 rounded-2xl ">Python</li>
        <li class="bg-blue-500/30 p-2 rounded-2xl ">TypeScript</li>
        <li class="bg-blue-500/30 p-2 rounded-2xl ">Tailwind</li>
        <li class="bg-blue-500/30 p-2 rounded-2xl ">Angular</li>
    </div>
    <!-- lien demo -->
    <div class="p-2 flex gap-4">
      <button class="pl-0 p-4">Git</button>
      <button class="p-2">Demo</button>
    </div>
</div>
</div>