<div class="text-slate-50">
    <h1 class="text-center font-bold text-4xl m-5">Mes Projet</h1>

    <!--Projet container -->
    <div class="flex gap-5 border">
        <!--Column 1-->
        <div class="flex flex-col gap-4  translate-x-20">
            <!--Projet-->
            <div class="w-[350px] h-[250px] bg-gray-300 scale-[0.9] hover:rotate-0 hover:scale-[1] transition-all "> logoHanif</div>
            <!--Projet-->
            <div class="w-[350px] h-[250px] bg-gray-400 scale-[.9] hover:scale-[1] transition-all "></div>
            
        </div>
     
        <!--Column 2-->
        <div class=" flex flex-col gap-5">
            <!--Projet-->
            <div class="w-[350px] h-[250px] bg-red-300 rotateY-45 ">salut moi c'est hanif</div>
            <!--Projet-->
            <div class="w-[350px] h-[250px] bg-red-400 rotateY-45">salut moi c'est hanif qui salut moi sc toi que chjere tounour</div>
        
            
        </div>
        <!--Column3-->
        <div class="flex  flex-col gap-3 -translate-x-20">
            <!--Projet-->
            <div class="w-[350px] h-[250px] bg-blue-300 scale-[.9] hover:scale-[1] transition-all"></div>
            <!--Projet-->
            <div class="w-[350px] h-[250px] bg-blue-400 scale-[.9] hover:scale-[1] transition-all"></div>
        </div>
        
    </div>
</div>
