
<!--Navbar section-->
<app-navbar></app-navbar>




<!--Container section-->

<!--Home section -->
<section class="min-h-screen flex justify-center items-center" id="home">
   <app-home></app-home>
</section>

<!--About section-->
<section class="min-h-screen flex justify-center" id="about">
   <app-about></app-about>
</section>


<!--Work section-->
<section class="min-h-screen flex items-center justify-center" id="work">
  <app-work></app-work>
</section>

<!--Contact section-->
<section class="min-h-screen " id="contact">
  <app-contact></app-contact>
</section>