<!--Navbar section-->
<app-navbar></app-navbar>

<!--Container section-->

<!--Home section -->
<section class="min-h-screen flex justify-center items-center w-full" id="home">
  <app-home></app-home>
</section>

<!--About section-->
<section class="min-h-screen flex justify-center items-center relative" id="about">
  <app-about></app-about>
</section>
<!-- Skill Section -->
<section class="min-h-s flex items-center justify-center relative">
  <app-skill></app-skill> 

</section>

<!--Work section-->
<section class="min-h-screen w-full flex items-center justify-center relative" id="work">
  <app-work></app-work>
</section>

<!--Contact section-->
<section class="min-h-screen flex flex-col items-center justify-center relative" id="contact">
  <app-contact></app-contact>
</section>

<!-- Footer section  -->
 <section class="min-h-[200px] bg-gradient-to-tr from-black to-blue-950  flex items-center flex-row relative">
    <app-footer></app-footer>
 </section>
