
<!-- <div class="absolute w-[500px] top-0 right-0" >
    <img src="../../assets/profile/git.jpg" alt="">
</div> -->
<div class="relative msc:-translate-y-16 left-[20%] contact:left-0">
    <!--Description-->
    <div class="flex contact:flex-wrap items-center space-x-20 contact:space-x-10 text-slate-50 w-full msc:p-0 contact:p-10 text-3xl text-left font-bold  msc:text-xl msc:w-full  ">
        <div class="w-screen contact:w-[90%]">
            <h1 class="text-blue-600" >Hi</h1>
            <h2>I'am <span class="text-blue-600 ">Hanif</span>  </h2>
            <p>a fullstack Developer </p>
            <P class="text-[20px] contact:text-[14px] font-serif text-gray-200">Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia, quis numquam perferendis praesentium magnam velit aspernatur repellat eligendi sapiente reiciendis.</P>
        </div>
        <div class="border w-[200px] h-[200px] msc:h-[100px] msc:w-[100px] rounded-full">
            <img class="w-full h-full rounded-full border-8 hover:border-blue-600 transition-all" src="../../assets/image/por.jpg" alt="">
        </div>
        
    </div>
    <!--Button-->
    <div class="flex space-x-8 p-10 contact:mt-0 contact:pt-0 mt-2">
        <button class="text-slate-50 p-4 contact:p-2 rounded-2xl bg-gradient-to-tr from-slate-400 hover:scale-[1.1] transition-all contact:text-sm">Hire me</button>
        <button class="text-slate-50 p-4 contact:p-2 rounded-2xl bg-gradient-to-tr from-blue-500 hover:scale-[1.1] transition-all contact:text-sm ">Download CV</button>
    </div>
    
</div>