

<div class="msc:-translate-y-16">
    <!--Description-->
    <div class="text-slate-50 w-screen text-3xl text-center font-bold  msc:text-xl msc:w-full msc:p-10 ">
        <p class="tracking-wide ">Bienvenue sur mon portfolio ! Je suis un développeur fullstack spécialisé en Python, Django et Angular, avec une expertise en gestion de données via MySQL et en création d'interfaces élégantes avec Tailwind CSS. Découvrez mes projets et comment je peux contribuer à votre entreprise.
    </div>
    <!--Button-->
    <div class="flex justify-center mt-2">
        <button class="text-slate-50 p-4 rounded-2xl bg-gradient-to-tr from-slate-400 hover:scale-[1.1] transition-all ">Download CV</button>
    </div>
    
</div>