
<!-- <div class="absolute w-[500px] top-0 right-0" >
    <img src="../../assets/profile/git.jpg" alt="">
</div> -->
<div class=" contact:left-0 flex flex-wrap gap-10">
    <!--Description-->
    <div class="flex flex-col  gap-4 msc:gap-2 text-slate-50  msc:p-0 contact:p-10 text-3xl text-left font-bold  msc:text-xl msc:w-full  ">
        <div class="  ">
            <h1 class="text-blue-600" >Salut</h1>
            <h2>Je suis <span class="text-blue-600 ">Hanif</span>  </h2>
            <p>Développeur Fullstack </p>
            <!-- <P class="text-[20px] contact:text-[14px] font-serif text-gray-200">Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia, quis numquam perferendis praesentium magnam velit aspernatur repellat eligendi sapiente reiciendis.</P> -->
        </div>
         
        <!--Button-->
    <div class="flex gap-2 p-10 pl-0   ">
        <button class="text-slate-50 text-xl p-2  rounded-2xl bg-gradient-to-tr from-slate-400 hover:scale-[1.1] transition-all contact:text-sm" (click)="goTonextSection('contact')">Contacte-moi</button>
        <button class="text-slate-50 text-xl  p-2  rounded-2xl bg-gradient-to-tr from-blue-500 hover:scale-[1.1] transition-all contact:text-sm ">Télécharge mon CV</button>
    </div>
    

    </div>
        <div class="contact:w-full contact:flex contact:justify-center">
            <div class="border w-[300px] h-[300px] contact:w-[200px] contact:h-[200px] msc:h-[100px] msc:w-[100px] rounded-full">
                <img class="w-full h-full object-center rounded-full border-8 hover:border-blue-600 transition-all" src="../../assets/image/ha.png" alt="">
            </div>
        </div>
       
        

</div>