<div class="w-[800px] translate-y-10 msc:translate-y-10 contact:w-full contact:p-10 ">
    <!--Profile-->
    <div class="flex justify-center p-10 msc:p-4">
        <div class="w-80 h-80 contact:w-40 contact:h-40 border-8 rounded-full hover:border-blue-600 transition-all msc: ">

            <img class="h-full w-full rounded-full  " src="../../assets/image/por.jpg" alt="">
            
        </div>
    </div>
    
    <!--Description-->
    <div class="text-slate-50 text-2xl contact:text-[14px]  msc:pt-2">
        Je suis Hanif, développeur fullstack spécialisé en Python, Django, Angular, MySQL, et Tailwind CSS. Passionné par le développement d'applications évolutives, je gère efficacement mes projets via GitHub. Mon portfolio reflète mes réalisations et ma vision du développement logiciel. Toujours ouvert aux collaborations et nouveaux défis pour continuer à apprendre dans ce domaine en évolution.
    </div>
</div>