<div class="w-screen translate-y-28 ">
    <!--Profile-->
    <div class="w-80 h-80  border-8 rounded-full hover:border-slate-400 transition-all">

        <img class="h-full w-full rounded-full" src="../../assets/profile/git.jpg" alt="">
        
    </div>
    <!--Description-->
    <div class="text-slate-50 text-2xl">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus dolorem quo laborum. Molestiae iusto voluptatem error maxime enim quam voluptatum consequuntur rerum alias maiores asperiores recusandae perferendis nulla labore sed incidunt, magni, aut voluptate inventore eos veniam debitis! Repellat labore tenetur aliquam saepe eaque, numquam animi omnis possimus consequatur totam?
    </div>
</div>