<div class=" text-slate-50 msc:flex msc:items-center msc:justify-center">
    <div class="flex msc:flex-col contact:flex-col contact:w-[95%] justify-center msc:p-10  border w-[700px] msc:w-[90%] p-10 gap-5 rounded-3xl bg-[#75727227] ">
        <!--Contact-->
        <div class="w-[350px] msc:w-[300px]">
            <h1 class=" font-bold text-xl mb-4 ">Get in touch </h1>  
            <p class="text-[14px]">I'm very approachable and would love to speak to you. Feel free to call, send me an email.Follow me in social media or simply complete the enquiry form</p>
            
            <div class="block pt-8">
                <a class="block "  ><span class="mr-4"> #</span>+22892971684</a>
                <a class="block pt-4" ><span class="mr-4">#</span>hanifdjanfarou8gmail.com</a>
            </div>

        </div>

        <!--Formulaire-->
        <div class="w-[400px] msc:w-[300px] ">
            <h1 class="font-bold text-xl mb-4">Send me message</h1>
            <form action="#">
                <div class="w-full">
                    <input class="w-full  rounded-xl p-4 msc:p-0 msc:rounded-[8px] mb-4 outline-none text-black text-xl msc:text-[12px]" type="text" id="name" placeholder="Name" required>
                </div>
                <div>
                    <input class="w-full p-4 msc:p-0 msc:rounded-[8px] mb-4 rounded-xl outline-none text-black text-xl msc:text-[12px]" type="email" id="email" placeholder="Email" required>
                </div>
                <div>
                    <input class="w-full mb-4 p-4 msc:p-0 msc:rounded-[8px] rounded-xl outline-none text-black text-xl  msc:text-[12px]" type="text" id="subject" placeholder="Subject">
                </div>
                <div>
                    <textarea class="w-full h-40  p-4 rounded-xl outline-none text-black text-xl msc:text-[12px]" name="message" id="ùessage" placeholder="Message"></textarea>
                </div>
                <button type="button" class="text-slate-50 p-4 rounded-2xl bg-gradient-to-tr from-slate-400 hover:scale-[1.1] transition-all ">Envoyer</button>
            </form>
        </div>
        <div>


        </div>
    </div>
</div>