<div class=" text-slate-50 ">
    <div>
        <!--Contact-->
        <div>
            <h1 class="text-slate-50">Get in touch</h1>
            <p>I'm very approachable and would love to speak to you. Feel free to call, send me an email.Follow me in social media or simply complete the enquiry form</p>
            
            <div>
                <a href="#"><span> #</span>+22892971684</a>
                <a href="#"><span>#</span>hanifdjanfarou8gmail.com</a>
            </div>

        </div>

        <!--Formulaire-->
        <div>


        </div>
    </div>
</div>