<div class="text-slate-50  grid grid-cols-3 contact:grid-cols-2  ">
  <!-- Langage skill -->
  <div class="text-center p-4">
    <h1 class="p-2 ">Python</h1>
    <div class="w-[100px] h-[100px] border rounded-full "></div>
  </div>
  <div class="text-center p-4">
    <h1 class="p-2 ">DJANGO</h1>
    <div class="w-[100px] h-[100px] border rounded-full "></div>
  </div>
  <div class="text-center p-4">
    <h1 class="p-2 ">JavaScripts</h1>
    <div class="w-[100px] h-[100px] border rounded-full "></div>
  </div>
  <div class="text-center p-4">
    <h1 class="p-2 ">Angular</h1>
    <div class="w-[100px] h-[100px] border rounded-full "></div>
  </div>
  <div class="text-center p-4">
    <h1 class="p-2 ">HTML</h1>
    <div class="w-[100px] h-[100px] border rounded-full "></div>
  </div>

  <div class="text-center p-4">
    <h1 class="p-2 ">CSS</h1>
    <div class="w-[100px] h-[100px] border rounded-full "></div>
  </div>

  <div class="text-center p-4">
    <h1 class="p-2 ">Tailwindcss</h1>
    <div class="w-[100px] h-[100px] border rounded-full "></div>
  </div>

  <div class="text-center p-4">
    <h1 class="p-2 ">MySQLite</h1>
    <div class="w-[100px] h-[100px] border rounded-full "></div>
  </div>

  <div class="text-center p-4">
    <h1 class="p-2 ">Git</h1>
    <div class="w-[100px] h-[100px] border rounded-full "></div>
  </div>
  <!-- framework Skill -->
</div>
