<h1  class="text-center text-blue-700">My Skills</h1>
<div class="text-slate-50  grid grid-cols-3 contact:grid-cols-2  ">
  <!-- Langage skill -->
  <div class=" p-4">
    <h1 class="p-2 ">Python</h1>
    <div class="w-[70px] h-[70px]  rounded-full ">
      <img class="w-full rounded-full" src="../../assets/logo/Python.png" alt="">
    </div>
  </div>
  <div class=" p-4">
    <h1 class="p-2 ">DJANGO</h1>
    <div class="w-[70px] h-[70px]  rounded-full ">
      <img class="w-full rounded-full" src="../../assets/logo/icons8-django.svg" alt="">
    </div>
  </div>
  <div class=" p-4">
    <h1 class="p-2 ">JavaScripts</h1>
    <div class="w-[70px] h-[70px]  rounded-full ">
      <img class="w-full rounded-full" src="../../assets/logo/javascript.png" alt="">
    </div>
  </div>
  <div class=" p-4">
    <h1 class="p-2 ">Angular</h1>
    <div class="w-[70px] h-[70px]  rounded-full ">
      <img src="../../assets/logo/angularjs.png" alt="">
    </div>
  </div>
  <div class=" p-4">
    <h1 class="p-2 ">HTML</h1>
    <div class="w-[70px] h-[70px]  rounded-full ">
      <img src="../../assets/logo/html.png" alt="">
    </div>
  </div>

  <div class=" p-4">
    <h1 class="p-2 ">CSS</h1>
    <div class="w-[70px] h-[70px]  rounded-full ">
      <img src="../../assets/logo/css.png" alt="">
    </div>
  </div>

  <div class=" p-4">
    <h1 class="p-2 ">Tailwindcss</h1>
    <div class="w-[70px] h-[70px]  rounded-full ">
      <img src="../../assets/logo/icons8-tailwindcss-96.png" alt="">
    </div>
  </div>

  <div class=" p-4">
    <h1 class="p-2 ">MySQLite</h1>
    <div class="w-[70px] h-[70px]  rounded-full ">
      <img src="../../assets/logo/mysql.png" alt="">
    </div>
  </div>

  <div class=" p-4">
    <h1 class="p-2 ">Git</h1>
    <div class="w-[70px] h-[70px]  rounded-full ">
      <img src="../../assets/logo/git.png" alt="">
    </div>
  </div>
  <!-- framework Skill -->
</div>
