<div class="text-slate-50 bg-blue-400 opacity-[.5]">
  <!-- Langage skill -->
  <div class="grid grid-cols-1 overflow-x-hidden w-[800px] gap-3">
    <div class="w-[250px]">
      <img src="../../assets/image/footer.png" alt="" />
    </div>
    <div class="w-[250px]">
      <img src="../../assets/image/avtare.png" alt="" />
    </div>
    <div class="w-[250px]">
      <img src="../../assets/image/about.png" alt="" />
    </div>
    <div class="w-[250px]"><img src="../../assets/image/R.png" alt="" /></div>
    <div class="w-[250px]">
      <img src="../../assets/image/footer.png" alt="" />
    </div>
    <div class="w-[250px]"><img src="../../assets/image/R.png" alt="" /></div>
  </div>
  <!-- framework Skill -->
</div>
